/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
}
body {
  min-width: 100dvw;
  min-height: 100dvh;
  background: url("assets/background.png");
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  overflow-x: hidden;
}
